In [87]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [2]:
data= pd.read_csv('C:/Users/kel5/Downloads/Loan_Data.csv')

In [3]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [5]:
data.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [6]:
data['Gender']=data['Gender'].replace(to_replace=['Male','Female'],value=[0,1])

In [7]:
data['Married']=data['Married'].replace(to_replace=['Yes','No'],value=[0,1])

In [8]:
data['Education']=data['Education'].replace(to_replace=['Graduate','Not Graduate'],value=[0,1])

In [9]:
data['Self_Employed']=data['Self_Employed'].replace(to_replace=['Yes','No'],value=[0,1])

In [10]:
data['Property_Area']=data['Property_Area'].replace(to_replace=['Rural','Urban','Semiurban'],value=[0,1,2])

In [11]:
data['Loan_Status']=data['Loan_Status'].replace(to_replace=['Y','N'],value=[0,1])

In [12]:
data['Dependents']=data['Dependents'].replace(to_replace=['3+'],value=[0])

In [13]:
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0.0,1.0,0,0,1.0,5849,0.0,NaN,360.0,1.0,1,0
1,LP001003,0.0,0.0,1,0,1.0,4583,1508.0,128.0,360.0,1.0,0,1
2,LP001005,0.0,0.0,0,0,0.0,3000,0.0,66.0,360.0,1.0,1,0
3,LP001006,0.0,0.0,0,1,1.0,2583,2358.0,120.0,360.0,1.0,1,0
4,LP001008,0.0,1.0,0,0,1.0,6000,0.0,141.0,360.0,1.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,1.0,1.0,0,0,1.0,2900,0.0,71.0,360.0,1.0,0,0
610,LP002979,0.0,0.0,0,0,1.0,4106,0.0,40.0,180.0,1.0,0,0
611,LP002983,0.0,0.0,1,0,1.0,8072,240.0,253.0,360.0,1.0,1,0
612,LP002984,0.0,0.0,2,0,1.0,7583,0.0,187.0,360.0,1.0,1,0
613,LP002990,1.0,1.0,0,0,0.0,4583,0.0,133.0,360.0,0.0,2,1

In [14]:
data.isnull()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,False,False,False,False,False,False,False,False,False,False,False,False,False
610,False,False,False,False,False,False,False,False,False,False,False,False,False
611,False,False,False,False,False,False,False,False,False,False,False,False,False
612,False,False,False,False,False,False,False,False,False,False,False,False,False
613,False,False,False,False,False,False,False,False,False,False,False,False,False

In [36]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [16]:
data['Gender'].value_counts()

Gender
0.0    489
1.0    112
Name: count, dtype: int64

In [17]:
data['Gender']=data['Gender'].fillna(0.0)

In [19]:
data['Married'].value_counts()

Married
0.0    398
1.0    213
Name: count, dtype: int64

In [20]:
data['Married']=data['Married'].fillna(0.0)

In [22]:
data['Dependents'].value_counts()

Dependents
0    345
1    102
2    101
0     51
Name: count, dtype: int64

In [23]:
data['Dependents']=data['Dependents'].fillna(0)

In [25]:
data['Self_Employed'].value_counts()

Self_Employed
1.0    500
0.0     82
Name: count, dtype: int64

In [26]:
data['Self_Employed']=data['Self_Employed'].fillna(1.0)

In [28]:
data['LoanAmount'].value_counts()

LoanAmount
120.0    20
110.0    17
100.0    15
160.0    12
187.0    12
         ..
240.0     1
214.0     1
59.0      1
166.0     1
253.0     1
Name: count, Length: 203, dtype: int64

In [29]:
data['LoanAmount']=data['LoanAmount'].fillna(120.0)

In [31]:
data['Loan_Amount_Term'].value_counts()

Loan_Amount_Term
360.0    512
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: count, dtype: int64

In [32]:
data['Loan_Amount_Term']=data['Loan_Amount_Term'].fillna(360.0)

In [34]:
data['Credit_History'].value_counts()

Credit_History
1.0    475
0.0     89
Name: count, dtype: int64

In [35]:
data['Credit_History']=data['Credit_History'].fillna(1.0)

In [37]:
data.drop(columns=['Loan_ID'],axis=1,inplace=True)

In [38]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0.0,1.0,0,0,1.0,5849,0.0,120.0,360.0,1.0,1,0
1,0.0,0.0,1,0,1.0,4583,1508.0,128.0,360.0,1.0,0,1
2,0.0,0.0,0,0,0.0,3000,0.0,66.0,360.0,1.0,1,0
3,0.0,0.0,0,1,1.0,2583,2358.0,120.0,360.0,1.0,1,0
4,0.0,1.0,0,0,1.0,6000,0.0,141.0,360.0,1.0,1,0

In [39]:
X=data.drop(columns='Loan_Status')
y=data['Loan_Status']

In [40]:
scaler=MinMaxScaler()
scaler.fit_transform(X)

array([[0.        , 1.        , 0.        , ..., 0.74358974, 1.        ,
        0.5       ],
       [0.        , 0.        , 0.5       , ..., 0.74358974, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.74358974, 1.        ,
        0.5       ],
       ...,
       [0.        , 0.        , 0.5       , ..., 0.74358974, 1.        ,
        0.5       ],
       [0.        , 0.        , 1.        , ..., 0.74358974, 1.        ,
        0.5       ],
       [1.        , 1.        , 0.        , ..., 0.74358974, 0.        ,
        1.        ]])

In [42]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2)

In [43]:
data.shape

(614, 12)

In [44]:
X_train.shape

(491, 11)

In [45]:
X_test.shape

(123, 11)

In [46]:
y_train.shape

(491,)

In [47]:
y_test.shape

(123,)

In [49]:
model=LogisticRegression()

In [50]:
model.fit(X_train,y_train)

LogisticRegression()

In [51]:
ypredict=model.predict(X_test)

In [53]:
cm=confusion_matrix(y_test,ypredict)

In [54]:
cm

array([[86,  2],
       [21, 14]], dtype=int64)

In [56]:
cr=classification_report(y_test,ypredict)

In [58]:
print(cr)

              precision    recall  f1-score   support

           0       0.80      0.98      0.88        88
           1       0.88      0.40      0.55        35

    accuracy                           0.81       123
   macro avg       0.84      0.69      0.72       123
weighted avg       0.82      0.81      0.79       123

In [62]:
model=DecisionTreeClassifier()

In [63]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [64]:
ypredict=model.predict(X_test)

In [65]:
cm=confusion_matrix(y_test,ypredict)

In [66]:
cm

array([[64, 24],
       [18, 17]], dtype=int64)

In [67]:
cr=classification_report(y_test,ypredict)

In [70]:
print(cr)

              precision    recall  f1-score   support

           0       0.78      0.73      0.75        88
           1       0.41      0.49      0.45        35

    accuracy                           0.66       123
   macro avg       0.60      0.61      0.60       123
weighted avg       0.68      0.66      0.67       123

In [79]:
model=KNeighborsClassifier()

In [80]:
model.fit(X_train,y_train)

KNeighborsClassifier()

In [81]:
ypredict=model.predict(X_test)

In [83]:
cm=confusion_matrix(y_test,ypredict)

In [84]:
cm

array([[71, 17],
       [29,  6]], dtype=int64)

In [85]:
cr=classification_report(y_test,ypredict)

In [86]:
print(cr)

              precision    recall  f1-score   support

           0       0.71      0.81      0.76        88
           1       0.26      0.17      0.21        35

    accuracy                           0.63       123
   macro avg       0.49      0.49      0.48       123
weighted avg       0.58      0.63      0.60       123

In [88]:
model=SVC()

In [89]:
model.fit(X_train,y_train)

SVC()

In [90]:
ypredict=model.predict(X_test)

In [91]:
cm=confusion_matrix(y_test,ypredict)

In [92]:
cm

array([[87,  1],
       [35,  0]], dtype=int64)

In [93]:
cr=classification_report(y_test,ypredict)

In [95]:
print(cr)

              precision    recall  f1-score   support

           0       0.71      0.99      0.83        88
           1       0.00      0.00      0.00        35

    accuracy                           0.71       123
   macro avg       0.36      0.49      0.41       123
weighted avg       0.51      0.71      0.59       123